<script language="javascript" type="text/javascript">
  function draw_chart(data) {
    $.jqplot('chart_<%=id%>', data, 
    {
      seriesColors: [ "#4bb2c5", "#57B24F", "#F9A52B", "#dddddd"],
      legend: { show: false, location: 'ne' },
      axes: {
        xaxis: {
          renderer    : $.jqplot.DateAxisRenderer,
          tickOptions : { formatString: '%b %#d, %Y<br/>%I:%M:%S %p' }
        },
        yaxis: {
          label         : '<%= id.capitalize %>',
          labelRenderer : $.jqplot.CanvasAxisLabelRenderer,
          min: 0,
          tickOptions   : { formatString: '%.3f'},
          autoscale   : true
        },
        <% others.each_index do |i| %>
          y<%=i+2%>axis: { 
            label         : '<%= others[i].capitalize %>',
            min           : 0,
            labelRenderer : $.jqplot.CanvasAxisLabelRenderer,
            autoscale   : true
          },
        <% end %>
      },
      seriesDefaults : {
        lineWidth : 1,
        markerOptions : { size : 3, shadow: false }
      },
      series: [
        { label: '<%= id.capitalize %>' },
        <% others.each_index do |i| %>
           { yaxis : 'y<%=i+2%>axis', label : '<%= others[i].capitalize %>'},
        <% end %>
      ],
      axesDefaults:{useSeriesColor: true},
      cursor:{zoom:true, clickReset:true}  
    });
  }
  
  function update_chart() {
    $.ajax({
      url: "/graphs/<%=id%>/data.json?and=<%=params[:and]%>", 
      success: function(response) {
        if (response != '') {
          $('#chart_<%=id%>').html('');
          draw_chart(response);
        }
        setTimeout('update_chart()', 5000)
      }, 
      dataType: "json"
    })
  }
  
  $(document).ready(function () {
    update_chart()
  });
</script>


<h1>Chart for <%= params[:id] %> <%= " and #{params[:and]}" if params[:and] %></h1>
<div class="chart" id="chart_<%=id%>" style="height:300px;"></div>
